body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.games {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.game {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.game img {
    width: 100%;
    border-radius: 5px;
}

h2 {
    margin: 10px 0;
}

p {
    color: #555;
}

/* Home button */
.home-button {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}

.home-button:hover {
    background-color: red;
    border: 2px solid black;
}


/* for buying */
.buy-button{
    color: white;
    text-decoration: none;
    background-color: red;

}