body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 300px;
    height: auto;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

/* Home button */
.home-button {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}

.home-button:hover {
    background-color: red;
    border: 2px solid black;
}

/* for buying */
.buy-button{
    color: white;
    text-decoration: none;
    background-color: red;

}
