body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

.soap-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.soap-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.soap-card img {
    width: 100%;
    border-radius: 10px;
}

.soap-card h2 {
    color: #333;
}

.soap-card p {
    color: #666;
}

/* Home button */
.home-button {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}

.home-button:hover {
    background-color: red;
    border: 2px solid black;
}


/* for buying */
.buy-button{
    color: white;
    text-decoration: none;
    background-color: red;

}
